<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador SQL</title>
    <link rel="stylesheet" href="../prism/prism.css">
    <link rel="stylesheet" href="../css/style.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../cm/codemirror.css">
    <script src="../cm/codemirror.js"></script>
    <script src="../cm/sql/sql.js"></script>
    <link rel="stylesheet" href="../cm/theme/midnight.css">
</head>
<body>
    <div class="header">
        <h1><i class="fas fa-database"></i> SQL Analyzer</h1>
    </div>
    <div class="content">
        <div class="all">
            <div class="one">
                <div id="codeeditor">
                    
                </div>
                <!-- <div class="textwrapper">
                    <textarea
                    name="sentencia-sql" 
                    id="sentencia-sql"
                    placeholder="SQL>"
                    style="background-color: #bbe1fa;">
SELECT M#,MNOMBRE
FROM MATERIAS
WHERE M# IN (SELECT M#
FROM INSCRITOS
WHERE A# IN (SELECT A#
FROM ALUMNOS
WHERE ANOMBRE='MESSI LIONEL'))</textarea>
                </div> -->
                <div class="actions">
                    <button onclick="clean()" class="run"><i class="fas fa-redo-alt"></i></button>
                    <button onclick="escanear()" class="run"><i class="fas fa-play"></i></button>
                </div>
                <div class="console-wrap">
                    <div class="console" id="consola" aria-placeholder="Console output..."></div>
                </div>
            </div>
            <div class="two" id="tablas">
                <table class="all-tokens" id="all-tokens">
                    <tr>
                        <th>Número</th>
                        <th>Linea</th>
                        <th>Token</th>
                        <th>Tipo</th>
                        <th>Código</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script>
        var editor = CodeMirror(document.querySelector('#codeeditor'), {
            value: "SELECT M#,MNOMBRE\nFROM MATERIAS\nWHERE M# IN (SELECT M#\nFROM INSCRITOS\nWHERE A# IN (SELECT A#\nFROM ALUMNOS\nWHERE ANOMBRE='MESSI LIONEL'))",
            mode: 'sql',
            theme: 'midnight',
            lineNumbers: true,
        })
    </script>

    <script src="../js/extras.js"></script>
    <script src="../js/escaner.js"></script>
    <script src="../js/parser.js"></script>
</body>
</html>