<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla Tokens</title>
</head>
<body>
    <table class="all-tokens">
        <tr>
            <th>Número</th>
            <th>Linea</th>
            <th>Token</th>
            <th>Tipo</th>
            <th>Código</th>
        </tr>
        <tr>
            <td>Número</td>
            <td>Linea</td>
            <td>Token</td>
            <td>Tipo</td>
            <td>Código</td>
        </tr>
        <tr>
            <td>Número</td>
            <td>Linea</td>
            <td>Token</td>
            <td>Tipo</td>
            <td>Código</td>
        </tr>
    </table>
</body>
</html>